body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2rem;
}

#about {
    background-color: #f9f9f9;
}

#portfolio {
    background-color: #eee;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

img{
    height: 600px;
    width: 400px;
}

.about{
    display: flex;

}

.tt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align:justify;
}
p{
    margin-left: 50px;
}
h3{
    margin-left: 20px;
}